<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <!-- Page settings -->
  <link rel="icon" href="{% static 'mundialitisapps/assets/index/favicon-logo-32x32.png' %}">
  <title>Complete su registro en Mundialitis</title>
  <meta name="description" content="Tu página sobre el Mundial de la FIFA Rusia 2018">
  <meta name="keywords" content="Mundialitis mundial rusia 2018 fifa proyecto software juegos">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'mundialitisapps/css/theme.css' %}" type="text/css">
</head>

<body class="bg-light">

  <!-- Register form -->
  <div class="russianflagstyle" style="background-image: url('{% static 'mundialitisapps/assets/index/kremlin.jpg' %}');">
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-7 mx-auto"> <i class="fa d-block fa-bullseye fa-5x mb-4 text-info"></i>
          <h2>Formulario de registro</h2>
          <p class="lead">Llene sus datos personales</p>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 order-md-1">
          <h4 class="mb-3"><b>Datos</b></h4>
          <form method="post"> {% csrf_token %}
            <div class="row">
              <div class="col-md-6 mb-3"> <label>Nombres</label>
                <input name="regfirstname" id="rfirstname" class="form-control" type="text" required>
              </div>
              <div class="col-md-6 mb-3"> <label>Apellidos</label>
                <input name="reglastname" id="rlastname" class="form-control" type="text" required>
              </div>
            </div>
            <div class="mb-3"> <label>Email</label>
              <input name="regemail" id="remail" class="form-control" type="email" placeholder="zabivaca@mundialitis.com" required>
            </div>
            <div class="mb-3"> <label>Dirección</label>
              <input name="regaddress" id="raddress" class="form-control" type="text" placeholder="1234 Rusia" required>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3"> <label>Pais</label>
                <select class="custom-select d-block w-100" name="regcountry" id="rcountry" required>
                  <option value="">Escoja su pais...</option>
                  <option value="Alemania">Alemania</option>
                  <option value="Arabia Saudita">Arabia Saudita</option>
                  <option value="Argentina">Argentina</option>
                  <option value="Australia">Australia</option>
                  <option value="Bélgica">Bélgica</option>
                  <option value="Brasil">Brasil</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Corea del Norte">Corea del Norte</option>
                  <option value="Costa Rica">Costa Rica</option>
                  <option value="Croacia">Croacia</option>
                  <option value="Dinamarca">Dinamarca</option>
                  <option value="Egipto">Egipto</option>
                  <option value="España">España</option>
                  <option value="Francia">Francia</option>
                  <option value="Inglaterra">Inglaterra</option>
                  <option value="Irán">Irán</option>
                  <option value="Islandia">Islandia</option>
                  <option value="Japón">Japón</option>
                  <option value="Marruecos">Marruecos</option>
                  <option value="México">México</option>
                  <option value="Nigeria">Nigeria</option>
                  <option value="Panamá">Panamá</option>
                  <option value="Perú">Perú</option>
                  <option value="Polonia">Polonia</option>
                  <option value="Portugal">Portugal</option>
                  <option value="Rusia">Rusia</option>
                  <option value="Senegal">Senegal</option>
                  <option value="Serbia">Serbia</option>
                  <option value="Suecia">Suecia</option>
                  <option value="Suiza">Suiza</option>
                  <option value="Túnez">Túnez</option>
                  <option value="Uruguay">Uruguay</option>
                </select>
              </div>
            </div>
            <hr class="mb-4">
            <h4 class="mb-3"><b>Pagos (S/.)</b></h4>
            <div class="row">
              <div class="col-md-12 mb-3"> <label>Cantidad de dinero</label>
                <input name="regmoney" id="rmoney" class="form-control" type="number" required>
              </div>
            </div>
            <hr class="mb-4">
              <button style="margin-bottom: 10%" class="btn btn-primary btn-lg btn-block btn-danger" name="cmpregister" type="submit">Finalizar registro</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Footer -->
  <footer class="text-md-left text-center p-4 bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="my-3 col-lg-4 col-md-4">
          <h3>MUNDIALITIS</h3>
          <p class="text-light">Proyecto de Ingeniería de Software II</p>
          <p class="my-3">Ciclo 2018-0</p>
        </div>
        <div class="my-3 col-lg-4 col-md-4"></div>
        <div class="my-3 col-lg-4">
          <h3>REPOSITORIO</h3>
          <a href="https://github.com/Carlosmave/Mundialitis" target="blank">
            <img src="{% static 'mundialitisapps/assets/index/GitHub-Mark-Light-120px-plus.png' %}"> </a>
          <a href="https://github.com/Carlosmave/Mundialitis" target="blank">
            <img style="height:50px;width:150px" src="{% static 'mundialitisapps/assets/index/GitHub_Logo_White.png' %}"> </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-muted text-center">© Copyright 2018 Mundialitis - All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
