<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <!-- PAGE settings -->
  <link rel="icon" href="{% static 'mundialitisapps/assets/index/favicon-logo-32x32.png' %}">
  <title>Trivia - Elija su modo de juego</title>
  <meta name="description" content="Tu página sobre el Mundial de la FIFA Rusia 2018">
  <meta name="keywords" content="Mundialitis mundial rusia 2018 fifa proyecto software juegos">

  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'mundialitisapps/css/theme.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'mundialitisapps/css/stylelogin.css' %}" type="text/css">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="{% static 'mundialitisapps/js/navbar-ontop.js' %}"></script>
  <!--<script src="{% static 'mundialitisapps/js/login-register.js' %}"></script>-->
  <!-- Script: Animated entrance -->
  <script src="{% static 'mundialitisapps/js/animate-in.js' %}"></script>
</head>

<body style="overflow-x: hidden;" class="text-center">






  <!-- Cover -->
  <div class="align-items-center d-flex cover py-5 russianflagstyle" style="background-image: url('{% static 'mundialitisapps/assets/trivia/world-cup-beat.jpg' %}');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-white mt-5">
          <h1 class="display-2 d-none d-md-block">Elija su modo de juego</h1>
          <h1 class="display-4 d-block d-md-none">Elija su modo de juego</h1>
          <p class="">December 12-14, NYC </p>
          <a href="#register" class="btn btn-lg mt-4 btn-outline-light">Elegir</a><i class="d-block fa fa-angle-down pt-5 fa-3x"></i>
        </div>
      </div>
    </div>
  </div>


  <div class="py-5 russianflagstyle" id="register">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-md-left text-center">
          <h1 class="text-white">Registrations are open</h1>
          <p>Pre-register to get a priority access to the event. Fares will be published later on.&nbsp;
            <br>Get the maximum from the lectures together with the possibility of joining exclusive side-events.</p>
        </div>

        <div class="col-md-4 align-self-center animate-in-right">
        <div class="col-md-4 align-self-center animate-in-right">
          <a href="#" class="btn btn-lg btn-light my-3">Fácil</a>
        </div>
        <div class="col-md-4 align-self-center animate-in-right">
          <a href="#" class="btn btn-lg btn-light my-3">Intermedio</a>
        </div>
        <div class="col-md-4 align-self-center animate-in-right">
          <a href="#" class="btn btn-lg btn-light my-3">Difícil</a>
        </div>

      </div>

      </div>
    </div>
  </div>






  <!-- Footer -->
  <footer class="text-md-left text-center p-4 bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="my-3 col-lg-4 col-md-4">
          <h3>MUNDIALITIS</h3>
          <p class="text-light">Proyecto de Ingeniería de Software II</p>
          <p class="my-3">Ciclo 2018-0</p>
        </div>
        <div class="my-3 col-lg-4 col-md-4"></div>
        <div class="my-3 col-lg-4">
          <h3>REPOSITORIO</h3>
          <a href="https://github.com/Carlosmave/Mundialitis" target="blank">
            <img src="{% static 'mundialitisapps/assets/index/GitHub-Mark-Light-120px-plus.png' %}"> </a>
          <a href="https://github.com/Carlosmave/Mundialitis" target="blank">
            <img style="height:50px;width:150px" src="{% static 'mundialitisapps/assets/index/GitHub_Logo_White.png' %}"> </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-muted text-center">© Copyright 2018 Mundialitis - All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="{% static 'mundialitisapps/js/smooth-scroll.js' %}"></script>
  <!--<script>alert('{{ message }}');</script>-->
  <script>var modal = document.getElementById('id01');var modal2 = document.getElementById('id02'); window.onclick = function(event) {if (event.target == modal) {modal.style.display = "none";}else if (event.target == modal2){modal2.style.display = "none";}}</script>
</body>

</html>
